<h1>Simply Kakeibo</h1>
<p>月の収支をシンプルに管理できる家計簿アプリです。</p>

<h2>カテゴリ設定</h2>
<ul>
    <li><%= link_to "収入カテゴリ設定", :incomes %></li>
</ul>

<ul>
    <li><%= link_to "固定費カテゴリ設定", :fixedcosts %></li>
</ul>

<ul>
    <li><%= link_to "支出カテゴリ設定", :variablecosts %></li>
</ul>

<h2>収支登録</h2>
<ul>
    <li><%= link_to "収入金額登録", :income_values %></li>
</ul>
<ul>
    <li><%= link_to "固定費金額登録", :fixedcost_values %></li>
</ul>
<ul>
    <li><%= link_to "支出金額登録", :variablecost_values %></li>
</ul>