<% @page_title = "支出カテゴリ一覧"%>
<h2><%= @page_title %></h2>

<%= link_to "支出カテゴリ新規登録", :new_variablecost %>

<% if @variablecosts.present? %>
<table>
    <thead>
        <tr>
            <th>カテゴリ名<th>
            <th>備考<th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <% @variablecosts.each do |variablecost|%>
        <tr>
            <td><%= variablecost.name %></td>
            <td><%= variablecost.description %></td>
            <td>
            <%= link_to "編集", [:edit, variablecost] %>
            <%= link_to "削除", variablecost, method: :delete, 
            data: { confirm: "本当にこのカテゴリを削除しますか？"} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<% else %>
    <p>登録されている支出カテゴリがありません。</p>
<% end %>

<p><%= link_to "TOPに戻る", root_path %></p>